<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>テンプレート | ハイスト人物図鑑</title>
    <link rel="stylesheet" href="../css/textbook/common.css">
</head>
<body>
    <main>
        <div class="page leftPage">
            <img src="../assets/images/textbook/himiko/largeIllust.png" alt="卑弥呼" class="largeIllust">
            <h1 class="name"><ruby>卑弥呼<rt>ひみこ</rt></ruby></h1>
            <h2 class="alias"><ruby>国<rt>くに</rt></ruby>を<ruby>鎮<rt>しず</rt></ruby>めた<ruby>巫女<rt>シャーマン</rt></ruby></h2>

            <div class="aboutIllust" id="aboutIllust1">
                <h3>鬼道で統治なり</h3>
                <p>占いで色々決めてたらしい。現代だったらインチキって言われてたかもしれないね。</p>
            </div>

            <div class="aboutIllust" id="aboutIllust2">
                <h3>稲作伝来</h3>
                <p>背景が稲なのは弥生時代に稲作が大陸から伝来したため。日本人の愛するお米はこの頃から！</p>
            </div>

            <div class="cardArea">
                <div class="cardBGCircle"><img src="../assets/images/textbook/common/cardBGCircle.png" alt="カード模様"></div>
                <div class="card"><img src="https://highsto.net/assets/images/cards/fw/%E5%8D%91%E5%BC%A5%E5%91%BC.webp" alt="卑弥呼のカード"></div>
            </div>

            <div class="profile">
                <h3>[人物プロフィール]</h3>
                <div class="profileRow">
                    <span class="profileName">生没年</span><span class="profileData">170年〜248年</span>
                </div>
                <div class="profileRow">
                    <span class="profileName">時代</span><span class="profileData">時代</span>
                </div>
                <div class="profileRow">
                    <span class="profileName">身分</span><span class="profileData">女王</span>
                </div>
                <div class="tips">
                    <img src="../assets/images/textbook/common/hamabouMini1.png" alt="豆知識を披露するハマボウ">
                    <div class="tipsContent">卑弥呼に関する豆知識を披露するハマボウかシオリンのセリフ</div>
                </div>
            </div>
        </div>


        <div class="page rightPage">
            <div class="aboutPersonArea">
                <img src="../assets/images/textbook/himiko/aboutPersoncircle.png" alt="" class="aboutPersonCircle">
                <h2 class="sectionTitleArea">
                    <div class="titleLeftBar"></div>
                    <img src="../assets/images/textbook/common/shunMini1.png" alt="シュン">
                    <div class="sectionTitle"><ruby>卑弥呼<rt>ひみこ</rt></ruby>ってどんなひと？</div>
                </h2>
                <div class="aboutPersonContents">
                    <p class="aboutPersonExplain">卑弥呼ってこんなことしたよねってのを第三者視点から語る感じで卑弥呼ってこんなことしたよねってのを第三者視点から語る感じで卑弥呼ってこんなことしたよねってのを第三者視点から語る感じで卑弥呼ってこんなことしたよねってのを第三者視点から語る感じで</p>
                    <div class="columArea">
                        <div class="columHeader">
                            <h3 class="columtitle">コラム</h3><span>（カード右上）</span>
                        </div>
                        <p class="columContents">今汝を以て親魏倭王と為し、金印紫綬を仮し、装封して帯方の太守に付し仮授せしむ。</p>
                    </div>
                </div>
            </div>

            <div class="aboutSkillArea">
                <h2 class="sectionTitleArea">
                    <div class="titleLeftBar"></div>
                    <img src="../assets/images/textbook/common/shunMini1.png" alt="シュン">
                    <div class="sectionTitle">カードの<ruby>効果解説<rt>こうかかいせつ</rt></ruby>！</div>
                </h2>
                <div class="aboutSkillContents">
                    <div class="aboutSkillContent">
                        <h3 class="skillTitle"><ruby>三角縁神獣鏡<rt>さんかくぶちしんじゅうきょう</rt></ruby></h3>
                        <p class="skillExplain">三角縁神獣鏡についてより深く三角縁神獣鏡についてより深く三角縁神獣鏡についてより深く三角縁神獣鏡についてより深く三角縁神獣鏡についてより深く三角縁神獣鏡についてより深く三角縁神獣鏡についてより深く</p>
                        <img src="../assets/images/textbook/himiko/skill1.png" alt="三角縁神獣鏡">
                    </div>
                    <div class="aboutSkillContent">
                        <h3 class="skillTitle"><ruby>邪馬台国<rt>やまたいこく</rt></ruby></h3>
                        <p class="skillExplain">邪馬台国に関してより深く邪馬台国に関してより深く邪馬台国に関してより深く邪馬台国に関してより深く邪馬台国に関してより深く邪馬台国に関してより深く邪馬台国に関してより深く邪馬台国に関してより深く邪馬台国に関してより深く</p>
                        <img src="../assets/images/textbook/himiko/skill1.png" alt="三角縁神獣鏡">
                    </div>
                </div>
            </div>

            <div class="finalArea">
                <h2 class="sectionTitleArea">
                    <div class="titleLeftBar"></div>
                    <img src="../assets/images/textbook/common/shunMini1.png" alt="シュン">
                    <div class="sectionTitle"><ruby>弥生時代<rt>やよいじだい</rt></ruby>ってどんな<ruby>時代<rt>じだい</rt></ruby>？</div>
                </h2>
                <div class="finalContents">
                    <p class="finalExplain">弥生時代ってこんな時代ってのをなんとなく。時代被ってたりしたら関連人物との繋がりについてまとめる感じで。弥生時代ってこんな時代ってのをなんとなく。時代被ってたりしたら関連人物との繋がりについてまとめる感じで。</p>
                    <div class="finalIllust"><img src="../assets/images/textbook/himiko/finalIllust.png" alt="卑弥呼のイラスト"></div>
                </div>
                <div class="finalQuiz">
                    <img src="../assets/images/textbook/himiko/miniCircle.png" alt="卑弥呼">
                    <div class="finalQuizContents">クイズ！：私が魏(中国)の皇帝からもらったものはなんーだ？</div>
                </div>
            </div>
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const images = document.querySelectorAll('img');
                images.forEach(img => {
                    console.log(img.src);
                    if(img.src.includes('highsto.net')) return;
                    img.src = '../assets/images/textbook/common/errorGreen.png';
                    
                    // img.onerror = function () {
                    // }
                });
            });
        </script>
    </main>
</body>
</html>