* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
}

.pages {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    /* align-items: center;
    min-height: 100vh; */
}

.page {
    width: 375px;
    height: 575px; /* 帯を除いた縦横比が 21:13.7 */
    position: relative;
    overflow: hidden;
}

.page * {
    position: relative;
    z-index: 5;
}


/* 左ページ */
.leftPage {
    color: white;
    text-shadow: 0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px black;
}

.largeIllust {
    height: 100%;
    width: auto;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.name {
    position: absolute;
    writing-mode: vertical-rl;
    top: 60px;
    left: 0;
    font-size: 6.4rem;
    text-shadow: 0px 0px 6px black;
}

.name ruby {
    font-size: 6.4rem;
}

.name rt {
    font-size: 3.2rem;
}

.alias {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 2.4rem;
    text-shadow: 0px 0px 6px black;
}

.alias ruby {
    font-size: 2.4rem;
}

.alias rt {
    font-size: 1.2rem;
}

.aboutIllust {
    position: absolute;
    width: 40%;
}

.aboutIllust h3 {
    font-size: 1.6rem;
}

.aboutIllust p {
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    padding: 3px;
    border-radius: 3px;
}

#aboutIllust1 {
    top: calc(750% / 21);
    right: 5%;
}

#aboutIllust2 {
    top: calc(1000% / 21);
    left: 5%;
}



.cardArea {
    position: static;
}

.cardBGCircle {
    width: 180px;
    height: 180px;
    position: absolute;
    bottom: -30px;
    left: -30px;
    border-radius: 50%;
    border: 5px solid white;
}

.cardBGCircle img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.card {
    width: calc(63px * 2);
    height: calc(88px * 2);
    position: absolute;
    bottom: 10px;
    left: 10px;
    transform: rotate(20deg);
}

.card img {
    width: 100%;
    height: 100%;
}



.profile {
    bottom: 20px;
    left: 170px;
    position: absolute;
}

.profile h3 {
    font-size: 2.1rem;
}

.profileRow {
    margin: 4px 0;
}

.profileName {
    font-size: 1.2rem;
    font-weight: bold;
}

.profileData {
    font-size: 1.2rem;
    padding-left: 10px;
}

.tips {
    display: flex;
    margin-top: 10px;
    padding-right: 10px;
}

.tips img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: translateX(-10px);
}

.tipsContent {
    color: black;
    background: white;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 3px;
    position: relative;
    text-shadow: none;
}

.tipsContent::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -5px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: white;
    transform: translateY(-50%);
}



/* 右ページ */
.rightPage {
    color: black;
    background: url("../../assets/images/textbook/common/rightBG.png");
}

img {
    width: 10px;
    height: 10px;
}

.rightPage > div {
    width: 80%;
    margin: 10px auto;
}

.sectionTitleArea {
    display: flex;
    justify-content: start;
    align-items: center;
}

.sectionTitleArea img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.titleLeftBar {
    width: 6px;
    height: 30px;
    background: linear-gradient(to bottom, #FFDE59, #FF914D);
    margin-right: 5px;
}

.sectionTitle {
    background: white;
    border-radius: 5px;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 5px;
    padding-top: 7.5px;
    padding-bottom: 2.5px;
    position: relative;
    text-shadow: none;
    width: 250px;
    margin-left: 10px;
}

.sectionTitle::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -5px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: white;
    transform: translateY(-50%);
}

.aboutPersonCircle {
    width: 200px;
    height: 200px;
    position: absolute;
    top: -60px;
    right: -60px;
    border-radius: 50%;
}

.aboutPersonContents {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.aboutPersonExplain {
    width: 45%;
    font-size: 0.8rem;
}

.columnArea {
    width: 45%;
    transform: translateX(20px);
}

.columnHeader {
    display: flex;
    justify-content: start;
    align-items: end;
}

.columnTitle {
    background: white;
    padding: 2px;
    font-size: 1.2rem;
}

.onRightTop {
    font-size: 0.8rem;
}

.columnContents {
    font-size: 0.8rem;
}

.aboutSkillContents {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutSkillContent {
    width: 45%;
}

.skillTitle {
    background: #EE7800;
    color: white;
    font-size: 1.6rem;
    margin: 5px 0;
    width: fit-content;
    padding: 0 5px;
}
.skillTitle rt {
    text-shadow: #EE7800 0px 0px 2px;
}

.skillExplain {
    font-size: 0.8rem;
    margin: 10px 0;
}

.skillImage {
    width: 135px;
    height: calc(135px * 3 / 5);
}


.finalContents {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.finalExplain {
    width: calc(95% - 100px);
    font-size: 0.8rem;
}

.finalIllust {
    width: 100px;
    height: calc(100px * 3 / 5);
}

.finalIllust img {
    width: 100%;
    height: 100%;
}

.finalQuiz {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.finalQuiz img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.finalQuizContents {
    background: white;
    border-radius: 2px;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 5px 3px;
    position: relative;
    text-shadow: none;
    width: calc(100% - 40px);
}

.finalQuizContents::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -5px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: white;
    transform: translateY(-50%);
}