@font-face {
    font-family: 'Noto Sans JP';
    src: url("../../assets/fonts/NotoSansJP-VariableFont_wght.ttf");
}

@font-face {
    font-family: 'TsunagiGothic';
    src: url("../../assets/fonts/TsunagiGothic.ttf");
}

@font-face {
    font-family: 'ZenMaruGothic';
    src: url("../../assets/fonts/ZenMaruGothic-Medium.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ZenMaruGothic', 'Noto Sans JP', sans-serif;
}

h2, h3, h2 *, h3 * {
    font-family: 'TsunagiGothic';
    font-weight: normal;
}

p {
    line-height: 200%;
}

:root {
    --rate: 2;
    font-size: calc(10px * var(--rate));
}

.pages {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    /* align-items: center;
    min-height: 100vh; */
}

.page {
    width: calc(375px * var(--rate));
    height: calc(575px * var(--rate)); /* 帯を除いた縦横比が 21:13.7 */
    position: relative;
    overflow: hidden;
}

.page * {
    position: relative;
    z-index: 5;
}

.mini {
    border-radius: 50%;
    width: calc(30px * var(--rate));
    height: calc(30px * var(--rate));
}

/* 左ページ */
.leftPage {
    color: white;
    text-shadow: 0px 0px calc(2px * var(--rate)) black, 0px 0px calc(2px * var(--rate)) black, 0px 0px calc(2px * var(--rate)) black;
}

.largeIllust {
    height: 100%;
    width: auto;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.name {
    position: absolute;
    writing-mode: vertical-rl;
    top: calc(60px * var(--rate));
    left: 0;
    font-size: 4.8rem; /* 6.4rem */
    text-shadow: 0px 0px calc(6px * var(--rate)) black;
    font-family: 'Noto Sans JP';
}

.name * {
    font-family: 'Noto Sans JP';
}

.name ruby {
    font-size: 4.8rem; /* 6.4rem */
}

.name rt {
    font-size: 2.4rem;
}

.alias {
    position: absolute;
    top: calc(10px * var(--rate));
    left: calc(10px * var(--rate));
    font-size: 2.4rem;
    text-shadow: 0px 0px calc(6px * var(--rate)) black;
    font-family: 'Noto Sans JP';
}

.alias * {
    font-family: 'Noto Sans JP';
}

.alias ruby {
    font-size: 2.4rem;
}

.alias rt {
    font-size: 1.2rem;
}

.aboutIllust {
    position: absolute;
    width: 40%;
}

.aboutIllust h3 {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
}

.aboutIllust h3 .mini {
    width: calc(24px * var(--rate));
    height: calc(24px * var(--rate));
    margin-right: calc(5px * var(--rate));
}

.aboutIllust h3 span {
    font-size: 1.4rem;
}

.aboutIllust p {
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    padding: calc(3px * var(--rate));
    border-radius: calc(3px * var(--rate));
}

#aboutIllust1 {
    top: calc(750% / 21);
    right: 2%;
}

#aboutIllust2 {
    /* top: calc(1000% / 21); */
    bottom: 35%;
    left: 5%;
}

.cardArea {
    position: static;
}

.cardBGCircle {
    width: calc(180px * var(--rate));
    height: calc(180px * var(--rate));
    position: absolute;
    bottom: calc(-30px * var(--rate));
    left: calc(-30px * var(--rate));
    border-radius: 50%;
    border: calc(5px * var(--rate)) solid white;
}

.cardBGCircle img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.card {
    width: calc(63px * 2 * var(--rate));
    height: calc(88px * 2 * var(--rate));
    position: absolute;
    bottom: calc(10px * var(--rate));
    left: calc(10px * var(--rate));
    transform: rotate(20deg);
}

.card img {
    width: 100%;
    height: 100%;
}

.profile {
    bottom: calc(20px * var(--rate));
    left: calc(170px * var(--rate));
    position: absolute;
}

.profile h3 {
    font-size: 2.1rem;
}

.profileRow {
    margin: calc(4px * var(--rate)) 0;
}

.profileName {
    font-size: 1.2rem;
    font-weight: bold;
}

.profileData {
    font-size: 1.2rem;
    padding-left: calc(10px * var(--rate));
}

.tips {
    display: flex;
    margin-top: calc(10px * var(--rate));
    padding-right: calc(10px * var(--rate));
}

.tips img {
    width: calc(30px * var(--rate));
    height: calc(30px * var(--rate));
    border-radius: 50%;
    transform: translateX(calc(-10px * var(--rate)));
}

.tipsContent {
    color: black;
    background: white;
    border-radius: calc(5px * var(--rate));
    font-size: 0.8rem;
    font-weight: bold;
    padding: calc(3px * var(--rate));
    position: relative;
    text-shadow: none;
}

.tipsContent::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(-5px * var(--rate));
    width: 0;
    height: 0;
    border: calc(5px * var(--rate)) solid transparent;
    border-top-color: white;
    transform: translateY(-50%);
}

/* 右ページ */
.rightPage {
    color: black;
    background: url("../../assets/images/textbook/common/rightBG.webp");
}

.rightPage > div {
    width: 80%;
    margin: calc(5px * var(--rate)) auto;
}

.sectionTitleArea {
    display: flex;
    justify-content: start;
    align-items: center;
}

.sectionTitleArea img {
    width: calc(30px * var(--rate));
    height: calc(30px * var(--rate));
    border-radius: 50%;
}

.titleLeftBar {
    width: calc(6px * var(--rate));
    height: calc(30px * var(--rate));
    background: linear-gradient(to bottom, #FFDE59, #FF914D);
    margin-right: calc(5px * var(--rate));
}

.sectionTitle {
    background: white;
    border-radius: calc(5px * var(--rate));
    font-size: 1.6rem; /* 1.8rem */
    font-weight: bold;
    padding: calc(5px * var(--rate));
    padding-top: calc(7.5px * var(--rate));
    padding-bottom: calc(2.5px * var(--rate));
    position: relative;
    text-shadow: none;
    width: calc(250px * var(--rate));
    margin-left: calc(10px * var(--rate));
}

.sectionTitle::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(-5px * var(--rate));
    width: 0;
    height: 0;
    border: calc(5px * var(--rate)) solid transparent;
    border-top-color: white;
    transform: translateY(-50%);
}

.aboutPersonArea {
    height: calc(184px * var(--rate));
}

.aboutPersonCircle {
    width: calc(200px * var(--rate));
    height: calc(200px * var(--rate));
    position: absolute;
    top: calc(-60px * var(--rate));
    right: calc(-60px * var(--rate));
    border-radius: 50%;
}

.aboutPersonContents {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 105%;
}

.aboutPersonMain {
    display: flex;
    justify-content: start;
    width: 54%;
    margin-top: 5px;
}

.aboutPersonLeft .mini {
    width: calc(24px * var(--rate));
    height: calc(24px * var(--rate));
}

#aboutPersonCharacter {
    font-family: "TsunagiGothic";
    margin-left: calc(5px * var(--rate));
}

.aboutPersonExplain {
    width: 100%;
    font-size: 0.8rem;
    padding: calc(10px * var(--rate));
    border-radius: calc(4px * var(--rate));
    background: white;
    margin-left: calc(5px * var(--rate));
    margin-top: calc(5px * var(--rate));
}

.aboutPersonExplain::after {
    content: '';
    position: absolute;
    top: 10%;
    left: calc(-5px * var(--rate));
    width: 0;
    height: 0;
    border: calc(5px * var(--rate)) solid transparent;
    border-top-color: white;
    transform: translateY(-50%);
}

.columnArea {
    width: 46%;
    transform: translateX(calc(10px * var(--rate)));
}

.columnHeader {
    display: flex;
    justify-content: start;
    align-items: end;
}

.columnTitle {
    background: white;
    padding: calc(2px * var(--rate));
    font-size: 1.2rem;
}

.onRightTop {
    font-size: 0.8rem;
    text-shadow: white 0px 0px calc(2px * var(--rate)), white 0px 0px calc(2px * var(--rate));
}

.columnContents {
    font-size: 0.8rem;
    text-shadow: white 0px 0px calc(2px * var(--rate)), white 0px 0px calc(2px * var(--rate)), white 0px 0px calc(2px * var(--rate)), white 0px 0px calc(2px * var(--rate));
    font-weight: bold;
    margin: calc(5px * var(--rate)) 0;
}

.aboutSkillArea {
    height: calc(334px * var(--rate));
    padding: calc(10px * var(--rate)) 0;
    border-top: calc(1px * var(--rate)) #545454 dotted;
    border-bottom: calc(1px * var(--rate)) #545454 dotted;
}

.aboutSkillContents {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutSkillContent {
    width: 48%;
    height: 100%;
}

.skillTitle {
    display: flex;
    align-items: center;
    margin: calc(10px * var(--rate)) 0;
    height: calc(27px * var(--rate));
}

.skillTitle .mini {
    width: calc(24px * var(--rate));
    height: calc(24px * var(--rate));
    margin-right: calc(5px * var(--rate));
}

.skillTitle span {
    background: #EE7800;
    color: white;
    font-size: 1.6rem;
    margin: 5px 0;
    width: fit-content;
    padding: 0 calc(5px * var(--rate));
}

.skillTitle span.long {
    font-size: 1.2rem;
}

.skillTitle span.veryLong {
    font-size: 1rem;
}

.skillTitle rt {
    text-shadow: #EE7800 0px 0px calc(2px * var(--rate));
    font-size: 0.6rem;
}

.skillExplain {
    font-size: 1rem;
    margin: calc(10px * var(--rate)) 0;
    height: calc(141px * var(--rate));
}

.skillImage {
    width: calc(135px * var(--rate));
    height: calc(135px * 3 / 5 * var(--rate));
}

.finalArea {
    height: calc(36px * var(--rate));
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.finalContents {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.finalExplain {
    width: calc(95% - 100px * var(--rate));
    font-size: 0.8rem;
}

.finalIllust {
    width: calc(100px * var(--rate));
    height: calc(100px * 3 / 5 * var(--rate));
}

.finalIllust img {
    width: 100%;
    height: 100%;
}

.finalQuiz {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: calc(5px * var(--rate)); */
}

.finalQuiz img {
    width: calc(30px * var(--rate));
    height: calc(30px * var(--rate));
    border-radius: 50%;
}

.finalQuizContents {
    background: white;
    border-radius: calc(2px * var(--rate));
    font-size: 0.9rem;
    font-weight: bold;
    padding: calc(5px * var(--rate)) calc(3px * var(--rate));
    position: relative;
    text-shadow: none;
    width: calc(100% - 40px * var(--rate));
}

.finalQuizContents::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(-5px * var(--rate));
    width: 0;
    height: 0;
    border: calc(5px * var(--rate)) solid transparent;
    border-top-color: white;
    transform: translateY(-50%);
}
