.pages {
    background-image: url("../../assets/images/textbook/common/rightBG.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.sidebar.black {
    background: black;
}

.rightPage {
    background: none;
}

.topBlack {
    background: black;
    color: white;
    height: 14.5%;
    width: 100%;
    padding-top: 6%;
    text-shadow: none;
}

.topBlack h2 {
    font-size: 4rem;
    margin-left: 5%;
    font-family: 'Noto Sans JP';
    font-weight: bold;
}
.topBlack p {
    font-size: 0.8rem;
    margin-left: 5%;
}

.sectionTitle {
    color: black;
    text-shadow: none;
}

.mainArea {
    height: 82%;
    display: flex;
    padding-right: 2%;
}

.rightPage .mainArea {
    padding-left: 2%;
    padding-right: 0;
}

.mainHalfArea {
    width: 50%;
    padding: calc(var(--rate) * 10px);
}

.warImage {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    height: auto;
    display: block;
    margin: 20px 0;
}

.dialogContents {
    color: black;
    text-shadow: none;
    /* font-size: 0.65rem; */
    font-size: 0.7rem;
}





.deckTitle {
    position: absolute;
    top: 0;
    right: calc(var(--rate) * 5px);
    width: auto;
    height: calc(var(--rate) * 10px);
    z-index: 100;
}

.rightPage > div {
    width: 100%;
    margin: 0 auto;
}