@font-face {
    font-family: 'Noto Sans JP';
    src: url("../../assets/fonts/NotoSansJP-VariableFont_wght.ttf");
}

@font-face {
    font-family: 'TsunagiGothic';
    src: url("../../assets/fonts/TsunagiGothic.ttf");
}

@font-face {
    font-family: 'ZenMaruGothic';
    src: url("../../assets/fonts/ZenMaruGothic-Medium.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ZenMaruGothic', 'Noto Sans JP', sans-serif;
}

h2, h3, h2 *, h3 * {
    font-family: 'TsunagiGothic';
    font-weight: normal;
}

p {
    line-height: 200%;
}

:root {
    --rate: 2;
    /* アプリ用は2, 印刷用は4 */
    font-size: calc(8px * var(--rate));
}

.pages {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    position: relative;
    width: fit-content;
    height: fit-content;
    /* align-items: center;
    min-height: 100vh; */
}

.sidebar {
    width: calc(375px * 2.4 / 18.9 * var(--rate));
    height: calc(601px * var(--rate));
    background-color: #2338e6;
    display: flex;
}
.sidebar.east {
    background-color: #f85c84;
}
.sidebarMargin {
    width: calc(375px * 0.6 / 18.9 * var(--rate));
    height: calc(601px * var(--rate));
}
.sidebarMain {
    width: calc(375px * 1.8 / 18.9 * var(--rate));
    height: calc(601px * var(--rate));
}
.sidebarMain img {
    width: 90%;
    height: auto;
    margin: auto;
    display: block;
    margin-top: calc(601px / 2 * var(--rate));
    transform: translateY(-50%);
}

.page {
    width: calc(375px * var(--rate));
    height: calc(601px * var(--rate));
    /* 帯を除いた縦横比が塗りたし拡張後で 30.3:18.9 */

    /* height: calc(575px * var(--rate));  */
    /* 帯を除いた縦横比が 21:13.7 */

    position: relative;
    overflow: hidden;
}

.innerFrame, .mainFrame {
    position: absolute;
    border: 1px solid white;
    z-index: 1000;
    pointer-events: none;
}

/* 文字をここまでに収めたいフレーム（端っこからそれぞれ6mm→→合わせて1.2cm引いた） */
.innerFrame {
    width: calc(375px * 41.4 / 18.9 * var(--rate));
    height: calc(601px * 29.1 / 30.3 * var(--rate));
    top: calc(601px * 0.6 / 30.3 * var(--rate));
    left: calc(375px * 0.6 / 18.9 * var(--rate));
}

/* 基本的なA3のページサイズ（端っこからそれぞれ3mm→→合わせて6mm引いた） */
.mainFrame {
    width: calc(375px * 42 / 18.9 * var(--rate));
    height: calc(601px * 29.7 / 30.3 * var(--rate));
    top: calc(601px * 0.3 / 30.3 * var(--rate));
    left: calc(375px * 0.3 / 18.9 * var(--rate));
}

.page * {
    position: relative;
    z-index: 5;
}

.mini {
    border-radius: 50%;
    width: calc(30px * var(--rate));
    height: calc(30px * var(--rate));
}

/* 左ページ */
.leftPage {
    color: white;
    text-shadow: 0px 0px calc(2px * var(--rate)) black, 0px 0px calc(2px * var(--rate)) black, 0px 0px calc(2px * var(--rate)) black;
}

.largeIllust {
    height: 100%;
    width: auto;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.name {
    position: absolute;
    writing-mode: vertical-rl;
    top: calc(60px * var(--rate));
    left: 0;
    font-size: 4.8rem; /* 6.4rem */
    text-shadow: 0px 0px calc(6px * var(--rate)) black;
    font-family: 'Noto Sans JP';
}

.name * {
    font-family: 'Noto Sans JP';
}

.name ruby {
    font-size: 4.8rem; /* 6.4rem */
}

.name rt {
    font-size: 2.4rem;
}

.alias {
    position: absolute;
    top: calc(14px * var(--rate));
    left: calc(10px * var(--rate));
    font-size: 2.4rem;
    text-shadow: 0px 0px calc(6px * var(--rate)) black;
    font-family: 'Noto Sans JP';
}

.alias * {
    font-family: 'Noto Sans JP';
}

.alias ruby {
    font-size: 2.4rem;
}

.alias rt {
    font-size: 1.2rem;
}

.aboutIllust {
    position: absolute;
    width: 40%;
}

.aboutIllust h3 {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
}

.aboutIllust h3 .mini {
    width: calc(24px * var(--rate));
    height: calc(24px * var(--rate));
    margin-right: calc(5px * var(--rate));
}

.aboutIllust h3 span {
    font-size: 1.4rem;
}

.aboutIllust p {
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    padding: calc(3px * var(--rate));
    border-radius: calc(3px * var(--rate));
}

#aboutIllust1 {
    top: calc(750% / 21);
    right: 2%;
}

#aboutIllust2 {
    /* top: calc(1000% / 21); */
    bottom: 35%;
    left: 5%;
}

.cardArea {
    position: static;
}

.card {
    width: calc(63px * 2 * var(--rate));
    height: calc(88px * 2 * var(--rate));
    position: absolute;
    bottom: calc(20px * var(--rate));
    left: calc(10px * var(--rate));
    transform: rotate(10deg);
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: calc(5px * var(--rate));
}

.profile {
    bottom: calc(20px * var(--rate));
    left: calc(170px * var(--rate));
    position: absolute;
}

.profile h3 {
    font-size: 2.1rem;
}

.profileRow {
    margin: calc(4px * var(--rate)) 0;
    border-radius: calc(1px * var(--rate));
    border: #737373;
    background: rgba(0, 0, 0, 0.7);
    width: calc(180px * var(--rate));
}

.profileName {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffde59;
    width: calc(86px * var(--rate));
    display: inline-block;
    margin-left: calc(5px * var(--rate));
}
.profileName > span {
    font-size: 0.3em;
    display: inline-flex;
    flex-direction: column;
    transform: translateY(-40%);
}

/* .profileName span span {

} */

.profileData {
    font-size: 1.2rem;
    padding-left: calc(10px * var(--rate));
}

.tips {
    display: flex;
    margin-top: calc(10px * var(--rate));
    padding-right: calc(10px * var(--rate));
}

.tips img {
    width: calc(30px * var(--rate));
    height: calc(30px * var(--rate));
    border-radius: 50%;
    transform: translateX(calc(-10px * var(--rate)));
}

.tipsContent {
    color: black;
    background: white;
    border-radius: calc(5px * var(--rate));
    font-size: 0.8rem;
    font-weight: bold;
    padding: calc(3px * var(--rate));
    position: relative;
    text-shadow: none;
}

.tipsContent::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(-5px * var(--rate));
    width: 0;
    height: 0;
    border: calc(5px * var(--rate)) solid transparent;
    border-top-color: white;
    transform: translateY(-50%);
}

/* 右ページ */
.rightPage {
    color: black;
    background: url("../../assets/images/textbook/common/rightBG.webp");
}

.rightPage > div {
    width: 80%;
    margin: calc(5px * var(--rate)) auto;
}

.rightPage .deckTitle {
    height: calc(20px * var(--rate));
    margin-bottom: 0;
    margin-top: calc(15px * var(--rate));
}
.deckTitle img {
    width: auto;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: 0;
}

.rightPage .rightMainArea {
    margin: 0;
    width: 100%;
    display: flex;
    height: 85%;
}

.rightHalfArea {
    width: 50%;
    padding: calc(var(--rate) * 10px);
}

.separator {
    border-right: 1px dotted #545454;
    height: 95%;
    margin: auto 0;
}

.rightPageSection {
    margin: calc(10px * var(--rate)) 0;
}

.sectionTitle {
    background-image: url("../../assets/images/textbook/common/title_flag.webp");
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    aspect-ratio: 672 / 116;

    font-size: 1.4rem;
    font-family: 'ZenMaruGothic';
    padding-left: calc(var(--rate) * 10px);
    margin: calc(var(--rate) * 5px) 0;
    font-weight: bold;
}

.dialog {
    display: flex;
    justify-content: start;
    align-items: start;
    margin-bottom: calc(5px * var(--rate));
}

.dialogCharacter {
    position: relative;
}

.dialog .mini {
    width: calc(20px * var(--rate));
    height: calc(20px * var(--rate));
}

.dialogCharacterName {
    position: absolute;
    font-family: 'TsunagiGothic';
    top: calc(18px * var(--rate));
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    font-weight: normal;
    font-size: 0.5rem;
    color: #737373;
    text-shadow: white 0px 0px calc(1px * var(--rate)), white 0px 0px calc(1px * var(--rate)), white 0px 0px calc(1px * var(--rate)), white 0px 0px calc(1px * var(--rate)), white 0px 0px calc(1px * var(--rate)), white 0px 0px calc(1px * var(--rate));
}

.dialogContents {
    margin-left: calc(5px * var(--rate));
    font-size: 0.8rem;
}

/* レーダーチャート関連 */
.radar-chart-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: calc(var(--rate) * 100px);
    height: calc(var(--rate) * 100px);
    margin: 0 auto;
    padding: calc(var(--rate) * 16px);
    box-sizing: content-box;
}

.radar-chart-2 svg {
    width: 100%;
    height: 100%;
}

.radar-chart-2 dl {
    position: absolute;
    width: 100%;
    height: 100%;
}

.radar-chart-2 dl > div {
    position: absolute;
    color: #777;
    font-size: .6em;
    text-align: center;
}

.radar-chart-2 dl > div:nth-child(1) {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.radar-chart-2 dl > div:nth-child(2) {
    top: 31%;
    right: 7%;
    transform: translateX(50%);
}

.radar-chart-2 dl > div:nth-child(3) {
    bottom: 6%;
    right: 25%;
    transform: translateX(50%);
}

.radar-chart-2 dl > div:nth-child(4) {
    bottom: 6%;
    left: 25%;
    transform: translateX(-50%);
}

.radar-chart-2 dl > div:nth-child(5) {
    top: 31%;
    left: 7%;
    transform: translateX(-50%);
}

.radar-chart-2 dd {
    margin: 0;
}

.radar-chart-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* width: 230px;
    height: 230px; */
    width: calc(var(--rate) * 100px);
    height: calc(var(--rate) * 100px);
    margin: 0 auto;
    padding: 35px;
    box-sizing: content-box;
}

.radar-chart-3 svg {
    width: 100%;
    height: 100%;
}

.radar-chart-3 dl {
    position: absolute;
    width: 100%;
    height: 100%;
}

.radar-chart-3 dl > div {
    position: absolute;
    color: #777;
    font-size: .6em;
    text-align: center;
}

.radar-chart-3 dl > div:nth-child(1) {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.radar-chart-3 dl > div:nth-child(2) {
    top: 24%;
    right: 10%;
    transform: translateX(50%);
}

.radar-chart-3 dl > div:nth-child(3) {
    bottom: 24%;
    right: 10%;
    transform: translateX(50%);
}

.radar-chart-3 dl > div:nth-child(4) {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.radar-chart-3 dl > div:nth-child(5) {
    bottom: 24%;
    left: 10%;
    transform: translateX(-50%);
}

.radar-chart-3 dl > div:nth-child(6) {
    top: 24%;
    left: 10%;
    transform: translateX(-50%);
}

.radar-chart-3 dd {
    margin: 0;
}





.emblemArea {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .emblemExplain {
    width: 60%;
    font-size: 0.8rem;
} */

.emblem {
    width: 40%;
}
.emblem p {
    font-size: 0.8rem;
    text-align: center;
}
.emblem img {
    width: 100%;
    height: auto;
}

.finalArea {
    height: calc(36px * var(--rate));
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.finalContents {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.finalExplain {
    width: calc(95% - 100px * var(--rate));
    font-size: 0.8rem;
}

.finalIllust {
    width: calc(100px * var(--rate));
    height: calc(100px * 3 / 5 * var(--rate));
}

.finalIllust img {
    width: 100%;
    height: 100%;
}

.finalQuiz {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: calc(5px * var(--rate)); */
}

.finalQuiz img {
    width: calc(30px * var(--rate));
    height: calc(30px * var(--rate));
    border-radius: 50%;
}

.finalQuizContents {
    background: white;
    border-radius: calc(2px * var(--rate));
    font-size: 0.9rem;
    font-weight: bold;
    padding: calc(5px * var(--rate)) calc(3px * var(--rate));
    position: relative;
    text-shadow: none;
    width: calc(100% - 40px * var(--rate));
}

.finalQuizContents::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(-5px * var(--rate));
    width: 0;
    height: 0;
    border: calc(5px * var(--rate)) solid transparent;
    border-top-color: white;
    transform: translateY(-50%);
}
