<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>全カード | ハイスト人物図鑑</title>
    <link rel="stylesheet" href="../../css/textbook/common.css">
</head>
<body>
    <main>
        <div class="pageArea">
            {page_divs}
        </div>
        <input type="button" value="ダウンロード" id="downloadButton">
        <div id="downloadStatus"><span>ダウンロード開始</span></div>
    </main>

</body>
<script src="https://cdn.jsdelivr.net/npm/dom-to-image@2.6.0/dist/dom-to-image.min.js"></script>
<script src="../../js/download.js"></script>
</html>